In [1]:
import pandas as pd
import datetime
import numpy as np
import mysql.connector
import json
import csv
import os
import matplotlib as plt
import matplotlib.pyplot as pyplot
import dataframe_image as dfi
import requests

### Downloading the most recent sales data directly from the Census Bureau website

In [2]:
# 1. define url path
url = "https://www.census.gov/retail/mrts/www/mrtssales92-present.xlsx"

# 2. download the data behind the URL
response = requests.get(url)

# 3. Open the response into a new file called mrtssales92-present.xlsx
open("mrtssales92-present.xlsx", "wb").write(response.content)

440409

### Reading the MRTS Data and Data Preparation

In [3]:
xlsx = pd.ExcelFile("mrtssales92-present.xlsx")

sheets_dict = pd.read_excel(xlsx)

sales_df = pd.DataFrame()

for sheet in reversed(xlsx.sheet_names):
    
    # Capture the 65 Adjusted business types from column B in the spreadsheet and place them into a dataframe
    categories = pd.read_excel(xlsx, sheet_name=sheet, header = 3, usecols ="B").iloc[2:67]

    # The first sheet, 2022, has 7 less columns than the others so it has an exception
    if sheet == '2022':
        sales_figs = pd.read_excel(xlsx, sheet_name=sheet, header = 4, usecols ="C:J").iloc[1:66]
    else:
        # Otherwise place the 65 rows of values from columns C through N into a dataframe
        sales_figs = pd.read_excel(xlsx, sheet_name=sheet, header = 4, usecols ="C:N").iloc[1:66]

    # Combine the dataframe containing the business types with the dataframe that holds their associated sales figures.
    reshaped_df = pd.concat([categories.reset_index(drop=True),sales_figs.reset_index(drop=True)], axis=1)
    sales_df = pd.concat([sales_df,reshaped_df.reset_index(drop=True)], axis=1)

In [4]:
sales_df.shape

(65, 399)

In [5]:
sales_df.head()

,Kind of Business,Jan. 1992,Feb. 1992,Mar. 1992,Apr. 1992,May 1992,Jun. 1992,Jul. 1992,Aug. 1992,Sep. 1992,...,Dec. 2021,Kind of Business,Jan. 2022,Feb. 2022,Mar. 2022,Apr. 2022,May 2022,Jun. 2022,Jul. 2022,Aug. 2022
0,"Retail and food services sales, total",146376,147079,159336,163669,170068,168663,169890,170364,164617,...,711673,"Retail and food services sales, total",587961,579139,681854,681357,705001,697935,690050,702729
1,Retail sales and food services excl motor vehi...,116565,115862,124200,127587,133608,130274,132076,134928,128734,...,589369,Retail sales and food services excl motor vehi...,474414,462148,541746,544061,572984,565376,562385,566838
2,Retail sales and food services excl gasoline s...,134277,135499,147064,151226,156619,155236,156016,156539,151477,...,659844,Retail sales and food services excl gasoline s...,538863,529564,617457,616581,632118,622594,615971,634752
3,Retail sales and food services excl motor vehi...,104466,104282,111928,115144,120159,116847,118202,121103,115594,...,537540,Retail sales and food services excl motor vehi...,425316,412573,477349,479285,500101,490035,488306,498861
4,"Retail sales, total",130683,131244,142488,147175,152420,151849,152586,152476,148158,...,632849,"Retail sales, total",518146,506400,597077,594426,614474,609933,600746,613416

In [17]:
sales_df = sales_df.drop(columns ='Kind of Business')
sales_df.head()

,Jan. 1992,Feb. 1992,Mar. 1992,Apr. 1992,May 1992,Jun. 1992,Jul. 1992,Aug. 1992,Sep. 1992,Oct. 1992,Nov. 1992,Dec. 1992,Jan. 1993,Feb. 1993,Mar. 1993,Apr. 1993,May 1993,Jun. 1993,Jul. 1993,Aug. 1993,Sep. 1993,Oct. 1993,Nov. 1993,Dec. 1993,Jan. 1994,Feb. 1994,Mar. 1994,Apr. 1994,May 1994,Jun. 1994,Jul. 1994,Aug. 1994,Sep. 1994,Oct. 1994,Nov. 1994,Dec. 1994,Jan. 1995,Feb. 1995,Mar. 1995,Apr. 1995,May 1995,Jun. 1995,Jul. 1995,Aug. 1995,Sep. 1995,Oct. 1995,Nov. 1995,Dec. 1995,Jan. 1996,Feb. 1996,Mar. 1996,Apr. 1996,May 1996,Jun. 1996,Jul. 1996,Aug. 1996,Sep. 1996,Oct. 1996,Nov. 1996,Dec. 1996,Jan. 1997,Feb. 1997,Mar. 1997,Apr. 1997,May 1997,Jun. 1997,Jul. 1997,Aug. 1997,Sep. 1997,Oct. 1997,Nov. 1997,Dec. 1997,Jan. 1998,Feb. 1998,Mar. 1998,Apr. 1998,May 1998,Jun. 1998,Jul. 1998,Aug. 1998,Sep. 1998,Oct. 1998,Nov. 1998,Dec. 1998,Jan. 1999,Feb. 1999,Mar. 1999,Apr. 1999,May 1999,Jun. 1999,Jul. 1999,Aug. 1999,Sep. 1999,Oct. 1999,Nov. 1999,Dec. 1999,Jan. 2000,Feb. 2000,Mar. 2000,Apr. 2000,May 2000,Jun. 2000,Jul. 2000,Aug. 2000,Sep. 2000,Oct. 2000,Nov. 2000,Dec. 2000,Jan. 2001,Feb. 2001,Mar. 2001,Apr. 2001,May 2001,Jun. 2001,Jul. 2001,Aug. 2001,Sep. 2001,Oct. 2001,Nov. 2001,Dec. 2001,Jan. 2002,Feb. 2002,Mar. 2002,Apr. 2002,May 2002,Jun. 2002,Jul. 2002,Aug. 2002,Sep. 2002,Oct. 2002,Nov. 2002,Dec. 2002,Jan. 2003,Feb. 2003,Mar. 2003,Apr. 2003,May 2003,Jun. 2003,Jul. 2003,Aug. 2003,Sep. 2003,Oct. 2003,Nov. 2003,Dec. 2003,Jan. 2004,Feb. 2004,Mar. 2004,Apr. 2004,May 2004,Jun. 2004,Jul. 2004,Aug. 2004,Sep. 2004,Oct. 2004,Nov. 2004,Dec. 2004,Jan. 2005,Feb. 2005,Mar. 2005,Apr. 2005,May 2005,Jun. 2005,Jul. 2005,Aug. 2005,Sep. 2005,Oct. 2005,Nov. 2005,Dec. 2005,Jan. 2006,Feb. 2006,Mar. 2006,Apr. 2006,May 2006,Jun. 2006,Jul. 2006,Aug. 2006,Sep. 2006,Oct. 2006,Nov. 2006,Dec. 2006,Jan. 2007,Feb. 2007,Mar. 2007,Apr. 2007,May 2007,Jun. 2007,Jul. 2007,Aug. 2007,Sep. 2007,Oct. 2007,Nov. 2007,Dec. 2007,Jan. 2008,Feb. 2008,Mar. 2008,Apr. 2008,May 2008,Jun. 2008,Jul. 2008,Aug. 2008,Sep. 2008,Oct. 2008,Nov. 2008,Dec. 2008,Jan. 2009,Feb. 2009,Mar. 2009,Apr. 2009,May 2009,Jun. 2009,Jul. 2009,Aug. 2009,Sep. 2009,Oct. 2009,Nov. 2009,Dec. 2009,Jan. 2010,Feb. 2010,Mar. 2010,Apr. 2010,May 2010,Jun. 2010,Jul. 2010,Aug. 2010,Sep. 2010,Oct. 2010,Nov. 2010,Dec. 2010,Jan. 2011,Feb. 2011,Mar. 2011,Apr. 2011,May 2011,Jun. 2011,Jul. 2011,Aug. 2011,Sep. 2011,Oct. 2011,Nov. 2011,Dec. 2011,Jan. 2012,Feb. 2012,Mar. 2012,Apr. 2012,May 2012,Jun. 2012,Jul. 2012,Aug. 2012,Sep. 2012,Oct. 2012,Nov. 2012,Dec. 2012,Jan. 2013,Feb. 2013,Mar. 2013,Apr. 2013,May 2013,Jun. 2013,Jul. 2013,Aug. 2013,Sep. 2013,Oct. 2013,Nov. 2013,Dec. 2013,Jan. 2014,Feb. 2014,Mar. 2014,Apr. 2014,May 2014,Jun. 2014,Jul. 2014,Aug. 2014,Sep. 2014,Oct. 2014,Nov. 2014,Dec. 2014,Jan. 2015,Feb. 2015,Mar. 2015,Apr. 2015,May 2015,Jun. 2015,Jul. 2015,Aug. 2015,Sep. 2015,Oct. 2015,Nov. 2015,Dec. 2015,Jan. 2016,Feb. 2016,Mar. 2016,Apr. 2016,May 2016,Jun. 2016,Jul. 2016,Aug. 2016,Sep. 2016,Oct. 2016,Nov. 2016,Dec. 2016,Jan. 2017,Feb. 2017,Mar. 2017,Apr. 2017,May 2017,Jun. 2017,Jul. 2017,Aug. 2017,Sep. 2017,Oct. 2017,Nov. 2017,Dec. 2017,Jan. 2018,Feb. 2018,Mar. 2018,Apr. 2018,May 2018,Jun. 2018,Jul. 2018,Aug. 2018,Sep. 2018,Oct. 2018,Nov. 2018,Dec. 2018,Jan. 2019,Feb. 2019,Mar. 2019,Apr. 2019,May 2019,Jun. 2019,Jul. 2019,Aug. 2019,Sep. 2019,Oct. 2019,Nov. 2019,Dec. 2019,Jan. 2020,Feb. 2020,Mar. 2020,Apr. 2020,May 2020,Jun. 2020,Jul. 2020,Aug. 2020,Sep. 2020,Oct. 2020,Nov. 2020,Dec. 2020,Jan. 2021,Feb. 2021,Mar. 2021,Apr. 2021,May 2021,Jun. 2021,Jul. 2021,Aug. 2021,Sep. 2021,Oct. 2021,Nov. 2021,Dec. 2021,Jan. 2022,Feb. 2022,Mar. 2022,Apr. 2022,May 2022,Jun. 2022,Jul. 2022,Aug. 2022
0,146376,147079,159336,163669,170068,168663,169890,170364,164617,173655,171547,208838,153221,150087,170439,176456,182231,181535,183682,183318,177406,182737,187443,224540,161349,162841,192319,189569,194927,197946,193355,202388,193954,197956,202520,241111,175344,172138,201279,196039,210478,211844,203411,214248,202122,204044,212190,247491,185019,192380,212110,211718,226936,217511,218111,226062,209250,222663,223953,258081,200389,197556,225133,220329,234190,227365,231521,235252,222807,232251,228284,271054,207853,203863,230313,234503,245027,244067,241431,240462,231243,244234,240991,288969,218126,220650,253550,250783,262113,260918,262051,265089,253905,258040,264106,317659,236422,250580,279515,264417,283706,281288,271146,283944,269155,270899,276507,319958,250746.0,247772.0,280449.0,274925.0,296013.0,287881.0,279098.0,294763.0,261924.0,291596.0,287537.0,326202.0,255598.0,253086.0,285261.0,284747.0,300402.0,288854.0,295433.0,307256.0,273189.0,287540.0,290705.0,337006.0,268328.0,259051.0,293693.0,294251.0,312389.0,300998.0,309923.0,317056.0,293890.0,304036.0,301265.0,357577.0,281460.0,282444.0,319077.0,315191.0,328408.0,321044.0,328000.0,326317.0,313524.0,319726.0,324259.0,387155.0,293261.0,295062.0,339141.0,335632.0,345348.0,350945.0,351827.0,355701.0,333289.0,336134.0,343798.0,405608.0,318546.0,314051.0,361993.0,351667.0,373560.0,366615.0,362203.0,375795.0,346214.0,348796.0,356928.0,417991.0,328877.0,323162.0,374142.0,358535.0,391512.0,376639.0,372354.0,388016.0,353936.0,368681.0,377802.0,426077.0,342639.0,343893.0,372907.0,368920.0,397956.0,378507.0,383726.0,382862.0,350542.0,349847.0,335545.0,384236.0,310188.0,299412.0,328526.0,329854.0,347728.0,344405.0,348071.0,353392.0,324646.0,338610.0,339363.0,400281.0,314557.0,310925.0,360679.0,356333.0,365605.0,358604.0,361939.0,362627.0,345999.0,355209.0,365828.0,426663.0,335587.0,337314.0,387088.0,380775.0,391999.0,388700.0,384682.0,394609.0,375025.0,379482.0,391220.0,451821.0,355184.0,372401.0,414149.0,392949.0,418608.0,400975.0,396026.0,417922.0,385609.0,399400.0,411065.0,462102.0,375497.0,373989.0,421748.0,408539.0,437188.0,414779.0,422478.0,435144.0,396348.0,415853.0,423985.0,477197.0,383409.0,380379.0,432984.0,431523.0,459348.0,433387.0,443411.0,451571.0,421525.0,438601.0,439199.0,501964.0,398396.0,388597.0,446381.0,439792.0,465030.0,449965.0,459763.0,458128.0,432762.0,446636.0,446247.0,518589.0,401798.0,415005.0,460864.0,451105.0,470107.0,464748.0,462033.0,471721.0,448561.0,453195.0,467238.0,539588.0,422032.0,418388.0,483153,465824,494645,481737,475370,490312,469698,475997,497667,558040,444327,435428,508469,480490,528350,507353,505312,520951,477397,503826,518927,556615,456012,441793,513263,506157,543388,514479,528010,541276,492004,521235,531243,586160,479343,478065,477715,406411,504187,532357,549264,546379,532094,554838,545736,613224,518300,492597,634945,629451,644652,638109,636312,633403,609406,638069,654469,711673,587961,579139,681854,681357,705001,697935,690050,702729
1,116565,115862,124200,127587,133608,130274,132076,134928,128734,136917,139187,175771,121021,117300,131181,135401,140841,138540,140704,141612,137132,142450,148461,185536,124850,123634,143525,141977,147862,148644,147625,154061,147603,151778,158908,198627,134789,130679,149748,148170,157703,156922,153443,160769,153295,155556,166150,203689,140160,142805,156474,157622,168786,162597,163040,170581,158129,168434,175816,211843,151994,147430,167468,164024,176251,169901,173049,177182,167947,176680,179711,220677,158132,153119,170482,174475,182817,179213,181661,182720,174613,184751,188435,234123,165591,163598,185818,185914,194291,191552,193716,195625,189333,195657,204250,257441,177649,183688,204448,198431,210656,208286,203886,212094,203320,207094,218058,263717,191485.0,186254.0,209049.0,207647.0,221671.0,215142.0,210053.0,221436.0,200982.0,212062.0,222341.0,265205.0,195033.0,190149.0,215490.0,213955.0,228248.0,217787.0,219025.0,227673.0,208039.0,221211.0,230116.0,273540.0,206194.0,198030.0,221829.0,221855.0,235659.0,226376.0,231445.0,239394.0,223768.0,235903.0,239588.0,290828.0,220314.0,217214.0,240415.0,241939.0,250917.0,245689.0,249163.0,249940.0,239944.0,250981.0,259038.0,314679.0,231325.0,228117.0,258532.0,257963.0,267021.0,265567.0,264117.0,274481.0,263877.0,272540.0,278953.0,334946.0,252809.0,246599.0,279239.0,275487.0,292043.0,286016.0,281314.0,292798.0,273214.0,278431.0,289416.0,346996.0,262292.0,253789.0,290309.0,281270.0,306329.0,296815.0,293257.0,303383.0,280466.0,294220.0,310458.0,357006.0,276796.0,274863.0,296293.0,295184.0,321829.0,309079.0,314049.0,313186.0,290053.0,294821.0,287679.0,331883.0,260095.0,249406.0,271393.0,273915.0,289996.0,284883.0,285771.0,287210.0,272523.0,283744.0,289339.0,344429.0,264687.0,259103.0,293231.0,291965.0,300362.0,293904.0,294933.0,296553.0,284345.0,293823.0,306998.0,362151.0,277706.0,274739.0,311920.0,311233.0,322722.0,318499.0,315504.0,323314.0,308069.0,313569.0,327252.0,380837.0,292916.0,302072.0,332992.0,319458.0,338812.0,325021.0,320787.0,337194.0,314291.0,327099.0,341371.0,387883.0,306113.0,300867.0,337981.0,326881.0,350288.0,331985.0,336212.0,346189.0,320563.0,336732.0,348248.0,398629.0,312667.0,305010.0,342009.0,343092.0,365617.0,346195.0,351628.0,358406.0,337647.0,353728.0,359711.0,414851.0,319400.0,308446.0,349214.0,345367.0,366818.0,354573.0,361147.0,359341.0,341145.0,355375.0,361351.0,424588.0,320927.0,324822.0,359688.0,353394.0,371171.0,366184.0,362158.0,367422.0,352852.0,360183.0,376895.0,438547.0,336830.0,328958.0,376846,368494,388994,379127,373129,385514,369734,378622,402949,457970,356151,345780,398809,381105,419185,402528,401519,412527,381376,404706,423513,455305,367860,351812,402605,402501,431338,409674,418760,426850,392848,418139,431014,483875,387589,382188,397281,338757,399853,421457,436568,434188,422824,443939,445932,500733,417671,393273,493286,490560,507052,505812,507189,509783,490752,517883,538632,589369,474414,462148,541746,544061,572984,565376,562385,566838
2,134277,135499,147064,151226,156619,155236,156016,156539,151477,159992,158483,195350,140694,138027,157276,163079,168142,167536,169235,169197,164030,168776,173923,210804,148635,150548,178672,175924,180576,183226,178217,186792,179232,183100,187984,226107,161473,158926,186522,181409,194533,195637,187354,198031,186928,188887,197509,232306,170546,178221,196494,195694,209508,200554,201072,208791,193275,205992,207716,241506,184433,182644,208571,203965,216874,210316,214043,217519,206016,215089,212278,254683,192618,189800,214955,218816,228247,227337,224137,223644,215384,227824,225618,272849,203011,206380,237252,233582,244205,242995,242931,245811,235346,239073,245874,298006,218729,232286,258696,244649,262492,259046,248882,261806,247487,249187,255609,298852,230657.0,228837.0,259652.0,253264.0,272163.0,264637.0,257026.0,272110.0,240545.0,271162.0,269100.0,308370.0,238094.0,236382.0,265428.0,263641.0,278174.0,267188.0,272452.0,284125.0,251811.0,265275.0,269818.0,316070.0,247124.0,238199.0,269821.0,271422.0,289096.0,278197.0,285929.0,292091.0,270490.0,280391.0,279319.0,335191.0,258687.0,259890.0,293475.0,288984.0,299830.0,292641.0,298714.0,297588.0,286173.0,290182.0,296583.0,359852.0,267695.0,270080.0,309761.0,305083.0,314197.0,319083.0,317939.0,319497.0,297029.0,299577.0,312538.0,374344.0,287746.0,284798.0,328106.0,315665.0,334544.0,327489.0,321618.0,334744.0,311384.0,315588.0,325372.0,385329.0,297955.0,293400.0,338539.0,321858.0,350134.0,336158.0,331658.0,347629.0,316261.0,329256.0,338000.0,387063.0,303949.0,306277.0,330681.0,325257.0,349444.0,328422.0,331998.0,333794.0,305360.0,309222.0,305676.0,357861.0,283647.0,273792.0,300076.0,300417.0,314770.0,308460.0,311732.0,316412.0,290298.0,303585.0,305021.0,365032.0,280412.0,279037.0,323445.0,318036.0,326437.0,320396.0,322885.0,324086.0,308829.0,316729.0,328755.0,387572.0,297569.0,300645.0,342739.0,334922.0,343754.0,341186.0,336482.0,346289.0,329582.0,334367.0,348244.0,409066.0,313778.0,330183.0,365752.0,345285.0,369410.0,354492.0,349368.0,367727.0,338408.0,350417.0,366631.0,419520.0,333736.0,331762.0,374019.0,361727.0,387997.0,366297.0,372656.0,385588.0,350283.0,369343.0,381594.0,434031.0,340758.0,339706.0,386592.0,384161.0,408685.0,384682.0,393527.0,402129.0,375276.0,392364.0,398230.0,464229.0,365262.0,356318.0,408783.0,401860.0,422790.0,407101.0,415778.0,416089.0,395081.0,408513.0,412184.0,484925.0,370761.0,386029.0,427290.0,415839.0,431315.0,424702.0,422296.0,432982.0,410652.0,414235.0,431443.0,502452.0,386128.0,384197.0,444070,426382,453370,441256,435164,448677,428012,434013,457391,518051,405314,398482,466193,437809,480775,460459,458072,472916,432798,456589,476792,518325,419473,406180,471079,461767,495880,469496,481518,495208,449159,476813,489770,545169,439807,441264,443627,379743,472260,496188,510555,507832,495050,516878,511534,576799,481306,456524,588937,582495,594839,587217,583234,580562,557412,583335,602186,659844,538863,529564,617457,616581,632118,622594,615971,634752
3,104466,104282,111928,115144,120159,116847,118202,121103,115594,123254,126123,162283,108494,105240,118018,122024,126752,124541,126257,127491,123756,128489,134941,171800,112136,111341,129878,128332,133511,133924,132487,138465,132881,136922,144372,183623,120918,117467,134991,133540,141758,140715,137386,144552,138101,140399,151469,188504,125687,128646,140858,141598,151358,145640,146001,153310,142154,151763,159579,195268,136038,132518,150906,147660,158935,152852,155571,159449,151156,159518,163705,204306,142897,139056,155124,158788,166037,162483,164367,165902,158754,168341,173062,218003,150476,149328,169520,168713,176383,173629,174596,176347,170774,176690,186018,237788,159956,165394,183629,178663,189442,186044,181622,189956,181652,185382,197160,242611,171396.0,167319.0,188252.0,185986.0,197821.0,191898.0,187981.0,198783.0,179603.0,191628.0,203904.0,247373.0,177529.0,173445.0,195657.0,192849.0,206020.0,196121.0,196044.0,204542.0,186661.0,198946.0,209229.0,252604.0,184990.0,177178.0,197957.0,199026.0,212366.0,203575.0,207451.0,214429.0,200368.0,212258.0,217642.0,268442.0,197541.0,194660.0,214813.0,215732.0,222339.0,217286.0,219877.0,221211.0,212593.0,221437.0,231362.0,287376.0,205759.0,203135.0,229152.0,227414.0,235870.0,233705.0,230229.0,238277.0,227617.0,235983.0,247693.0,303682.0,222009.0,217346.0,245352.0,239485.0,253027.0,246890.0,240729.0,251747.0,238384.0,245223.0,257860.0,314334.0,231370.0,224027.0,254706.0,244593.0,264951.0,256334.0,252561.0,262996.0,242791.0,254795.0,270656.0,317992.0,238106.0,237247.0,254067.0,251521.0,273317.0,258994.0,262321.0,264118.0,244871.0,254196.0,257810.0,305508.0,233554.0,223786.0,242943.0,244478.0,257038.0,248938.0,249432.0,250230.0,238175.0,248719.0,254997.0,309180.0,230542.0,227215.0,255997.0,253668.0,261194.0,255696.0,255879.0,258012.0,247175.0,255343.0,269925.0,323060.0,239688.0,238070.0,267571.0,265380.0,274477.0,270985.0,267304.0,274994.0,262626.0,268454.0,284276.0,338082.0,251510.0,259854.0,284595.0,271794.0,289614.0,278538.0,274129.0,286999.0,267090.0,278116.0,296937.0,345301.0,264352.0,258640.0,290252.0,280069.0,301097.0,283503.0,286390.0,296633.0,274498.0,290222.0,305857.0,355463.0,270016.0,264337.0,295617.0,295730.0,314954.0,297490.0,301744.0,308964.0,291398.0,307491.0,318742.0,377116.0,286266.0,276167.0,311616.0,307435.0,324578.0,311709.0,317162.0,317302.0,303464.0,317252.0,327288.0,390924.0,289890.0,295846.0,326114.0,318128.0,332379.0,326138.0,322421.0,328683.0,314943.0,321223.0,341100.0,401411.0,300926.0,294767.0,337763,329052,347719,338646,332923,343879,328048,336638,362673,417981,317138,308834,356533,338424,371610,355634,354279,364492,336777,357469,381378,417015,331321,316199,360421,358111,383830,364691,372268,380782,350003,373717,389541,442884,348053,345387,363193,312089,367926,385288,397859,395641,385780,405979,411730,464308,380677,357200,447278,443604,457239,454920,454111,456942,438758,463149,486349,537540,425316,412573,477349,479285,500101,490035,488306,498861
4,130683,131244,142488,147175,152420,151849,152586,152476,148158,155987,154824,191347,137020,134462,153025,158615,163519,162964,164590,163989,159298,163992,169980,206174,145276,146332,173562,170795,175527,178509,173198,182445,175128,178642,184272,221549,158004,155156,181910,176635,190269,191609,182909,193370,182521,184276,193405,227552,167372,173941,191851,191886,205797,196842,197140,204270,189424,201927,203621,237478,181073,178428,203750,199219,211516,205491,208856,211952,201415,210145,207533,249389,187445,183767,207973,212262,221155,220867,217687,216605,208915,220499,218969,265618,196810,199451,230230,227109,237462,236830,236992,240478,230665,233193,240857,293013,213709,227087,253717,239051,257581,255066,244445,257487,243624,245167,252145,294197,226791.0,223971.0,253439.0,249062.0,268658.0,260315.0,251504.0,266460.0,236210.0,265188.0,262004.0,298666.0,230546.0,228084.0,257133.0,257357.0,271682.0,260385.0,266795.0,277716.0,246350.0,259945.0,263738.0,308821.0,242271.0,233478.0,264532.0,265990.0,281482.0,271242.0,279323.0,285212.0,265331.0,273781.0,272396.0,327693.0,252818.0,253689.0,287944.0,284325.0,296253.0,289664.0,294875.0,294133.0,282974.0,287468.0,294278.0,354627.0,263469.0,265320.0,306384.0,302054.0,311292.0,317375.0,316887.0,321409.0,300439.0,302213.0,311715.0,370726.0,286152.0,282417.0,326153.0,316526.0,337393.0,330844.0,325905.0,339155.0,310775.0,312976.0,323089.0,380188.0,295284.0,290065.0,335917.0,321981.0,353201.0,338189.0,333815.0,349191.0,317145.0,331073.0,341848.0,387473.0,307576.0,308171.0,334416.0,331002.0,357277.0,339791.0,344158.0,342443.0,313308.0,311422.0,299238.0,346513.0,273998.0,264465.0,290068.0,292041.0,307481.0,306050.0,308847.0,314505.0,288071.0,300360.0,303850.0,362735.0,279044.0,275566.0,321305.0,316940.0,324820.0,319183.0,320915.0,322319.0,307638.0,315059.0,328381.0,386878.0,298626.0,299920.0,345052.0,339014.0,348979.0,346620.0,341381.0,352224.0,333642.0,337067.0,351517.0,408910.0,315540.0,331470.0,368502.0,349194.0,373129.0,356083.0,351520.0,372986.0,342582.0,355823.0,368593.0,416807.0,333695.0,332486.0,374171.0,362964.0,389681.0,369316.0,376974.0,388227.0,352680.0,369773.0,378686.0,430585.0,340476.0,337481.0,383567.0,383816.0,408288.0,385482.0,394700.0,401450.0,374401.0,388391.0,391502.0,451097.0,350304.0,341856.0,393110.0,387375.0,409482.0,397821.0,406554.0,404920.0,381992.0,392604.0,396058.0,464035.0,351772.0,363527.0,404996.0,394743.0,413036.0,410071.0,405965.0,416489.0,394200.0,397394.0,413901.0,482002.0,369081.0,365592.0,423002,407240,434506,423066,416906,431804,412546,417773,441933,496765,389740,380598,444925,420209,464271,443732,441832,456445,417510,442256,460034,493873,399359,384977,447160,442704,475656,448224,461642,472891,428334,455035,467311,518979,416285,413203,428285,375242,460253,478667,492259,487134,474284,494134,491813,558834,462558,438933,565764,557874,567461,560679,554845,553822,532840,557737,579687,632849,518146,506400,597077,594426,614474,609933,600746,613416

In [18]:
transposed_df = sales_df.transpose()
transposed_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64
Jan. 1992,146376,116565,134277,104466,130683,100872,33906,29811,26788,25800,24056,1744,3023,7503,3846,2392,1454,728,(NA),3657,601,(NA),8964,7637,(NA),842,29589,27306,(NA),1509,7258,6358,12099,6938,4852,701,1873,1649,(NA),1206,796,3023,972,620,790,14996,10306,4818,5488,4690,2579,2111,3642,1446,788,658,371,6860,2692,1916,15693,1049,13325,6887,6438
Feb. 1992,147079,115862,135499,104282,131244,100027,35220,31217,28203,27031,25041,1990,3014,7398,3908,2460,1448,731,(NA),3490,576,(NA),9023,7567,(NA),818,28570,26223,(NA),1541,7150,6284,11580,7524,5159,658,1991,1864,(NA),1265,1021,2806,1100,585,539,16015,11251,5347,5904,4764,2615,2149,3902,1477,679,798,402,6059,2285,1627,15835,1026,13474,6937,6537
Mar. 1992,159336,124200,147064,111928,142488,107352,38731,35136,31684,30195,28018,2177,3452,7826,4157,2607,1550,851,(NA),3669,631,(NA),10608,8718,(NA),958,29682,27235,(NA),1597,7413,6420,12272,8475,6024,731,2403,2152,(NA),1463,912,3040,1214,643,535,17984,12917,6262,6655,5067,2838,2229,3755,1406,692,714,419,6297,2484,1537,16848,1074,14346,7245,7101
Apr. 1992,163669,127587,151226,115144,147175,111093,40548,36082,32547,30583,27982,2601,3535,7668,4141,2525,1616,899,(NA),3527,643,(NA),11630,9330,(NA),1073,30228,27588,(NA),1675,7531,6573,12443,9401,6682,816,2665,2438,(NA),1675,969,3150,1267,706,523,18872,13461,6417,7044,5411,2984,2427,4148,1457,656,801,393,6022,2506,1341,16494,1031,14065,7000,7065
May 1992,170068,133608,156619,120159,152420,115960,42213,36460,32883,31095,28924,2171,3577,7846,4275,2605,1670,856,(NA),3571,662,(NA),12327,9731,(NA),1232,31677,28883,(NA),1822,7488,6491,13449,9558,6768,856,2752,2412,(NA),1560,1171,3175,1293,660,552,20037,14286,6636,7650,5751,3257,2494,4600,1597,697,900,435,5803,2483,1163,17648,1047,15077,7532,7545

In [19]:
categories['Kind of Business'] = categories['Kind of Business'].str.replace("Retail sales and food services","RSFS",regex=True)
categories['Kind of Business'] = categories['Kind of Business'].str.replace("\(|\)|\.|,|'","",regex=True).str.replace("-| ","_",regex=True)

transposed_df.columns = categories['Kind of Business'].to_list()
transposed_df = transposed_df.replace(to_replace="\(S\)|\(NA\)",value=np.nan,regex=True)
transposed_df = transposed_df.where((pd.notnull(transposed_df)), 0)

transposed_df.head()

,Retail_and_food_services_sales_total,RSFS_excl_motor_vehicle_and_parts,RSFS_excl_gasoline_stations,RSFS_excl_motor_vehicle_and_parts_and_gasoline_stations,Retail_sales_total,Retail_sales_total_excl_motor_vehicle_and_parts_dealers,GAFO1,Motor_vehicle_and_parts_dealers,Automobile_and_other_motor_vehicle_dealers,Automobile_dealers,New_car_dealers,Used_car_dealers,Automotive_parts_acc_and_tire_stores,Furniture_home_furn_electronics_and_appliance_stores,Furniture_and_home_furnishings_stores,Furniture_stores,Home_furnishings_stores,Floor_covering_stores,All_other_home_furnishings_stores,Electronics_and_appliance_stores,Household_appliance_stores,Electronics_stores,Building_mat_and_garden_equip_and_supplies_dealers,Building_mat_and_supplies_dealers,Paint_and_wallpaper_stores,Hardware_stores,Food_and_beverage_stores,Grocery_stores,Supermarkets_and_other_grocery_except_convenience_stores,Beer_wine_and_liquor_stores,Health_and_personal_care_stores,Pharmacies_and_drug_stores,Gasoline_stations,Clothing_and_clothing_access_stores,Clothing_stores,Mens_clothing_stores,Womens_clothing_stores,Family_clothing_stores,Other_clothing_stores,Shoe_stores,Jewelry_stores,Sporting_goods_hobby_musical_instrument_and_book_stores,Sporting_goods_stores,Hobby_toy_and_game_stores,Book_stores,General_merchandise_stores,Department_stores,Department_storesexcl_discount_department_stores,Discount_dept_stores,Other_general_merchandise_stores,Warehouse_clubs_and_superstores,All_other_gen_merchandise_stores,Miscellaneous_store_retailers,Office_supplies_stationery_and_gift_stores,Office_supplies_and_stationery_stores,Gift_novelty_and_souvenir_stores,Used_merchandise_stores,Nonstore_retailers,Electronic_shopping_and_mail_order_houses,Fuel_dealers,Food_services_and_drinking_places,Drinking_places,Restaurants_and_other_eating_places,Full_service_restaurants,Limited_service_eating_places
Jan. 1992,146376.0,116565.0,134277.0,104466.0,130683.0,100872.0,33906.0,29811.0,26788.0,25800.0,24056.0,1744.0,3023.0,7503.0,3846.0,2392.0,1454.0,728.0,0.0,3657.0,601.0,0.0,8964.0,7637.0,0.0,842.0,29589.0,27306.0,0.0,1509.0,7258.0,6358.0,12099.0,6938.0,4852.0,701.0,1873.0,1649.0,0.0,1206.0,796.0,3023.0,972.0,620.0,790.0,14996.0,10306.0,4818.0,5488.0,4690.0,2579.0,2111.0,3642.0,1446.0,788.0,658.0,371.0,6860.0,2692.0,1916.0,15693.0,1049.0,13325.0,6887.0,6438.0
Feb. 1992,147079.0,115862.0,135499.0,104282.0,131244.0,100027.0,35220.0,31217.0,28203.0,27031.0,25041.0,1990.0,3014.0,7398.0,3908.0,2460.0,1448.0,731.0,0.0,3490.0,576.0,0.0,9023.0,7567.0,0.0,818.0,28570.0,26223.0,0.0,1541.0,7150.0,6284.0,11580.0,7524.0,5159.0,658.0,1991.0,1864.0,0.0,1265.0,1021.0,2806.0,1100.0,585.0,539.0,16015.0,11251.0,5347.0,5904.0,4764.0,2615.0,2149.0,3902.0,1477.0,679.0,798.0,402.0,6059.0,2285.0,1627.0,15835.0,1026.0,13474.0,6937.0,6537.0
Mar. 1992,159336.0,124200.0,147064.0,111928.0,142488.0,107352.0,38731.0,35136.0,31684.0,30195.0,28018.0,2177.0,3452.0,7826.0,4157.0,2607.0,1550.0,851.0,0.0,3669.0,631.0,0.0,10608.0,8718.0,0.0,958.0,29682.0,27235.0,0.0,1597.0,7413.0,6420.0,12272.0,8475.0,6024.0,731.0,2403.0,2152.0,0.0,1463.0,912.0,3040.0,1214.0,643.0,535.0,17984.0,12917.0,6262.0,6655.0,5067.0,2838.0,2229.0,3755.0,1406.0,692.0,714.0,419.0,6297.0,2484.0,1537.0,16848.0,1074.0,14346.0,7245.0,7101.0
Apr. 1992,163669.0,127587.0,151226.0,115144.0,147175.0,111093.0,40548.0,36082.0,32547.0,30583.0,27982.0,2601.0,3535.0,7668.0,4141.0,2525.0,1616.0,899.0,0.0,3527.0,643.0,0.0,11630.0,9330.0,0.0,1073.0,30228.0,27588.0,0.0,1675.0,7531.0,6573.0,12443.0,9401.0,6682.0,816.0,2665.0,2438.0,0.0,1675.0,969.0,3150.0,1267.0,706.0,523.0,18872.0,13461.0,6417.0,7044.0,5411.0,2984.0,2427.0,4148.0,1457.0,656.0,801.0,393.0,6022.0,2506.0,1341.0,16494.0,1031.0,14065.0,7000.0,7065.0
May 1992,170068.0,133608.0,156619.0,120159.0,152420.0,115960.0,42213.0,36460.0,32883.0,31095.0,28924.0,2171.0,3577.0,7846.0,4275.0,2605.0,1670.0,856.0,0.0,3571.0,662.0,0.0,12327.0,9731.0,0.0,1232.0,31677.0,28883.0,0.0,1822.0,7488.0,6491.0,13449.0,9558.0,6768.0,856.0,2752.0,2412.0,0.0,1560.0,1171.0,3175.0,1293.0,660.0,552.0,20037.0,14286.0,6636.0,7650.0,5751.0,3257.0,2494.0,4600.0,1597.0,697.0,900.0,435.0,5803.0,2483.0,1163.0,17648.0,1047.0,15077.0,7532.0,7545.0

In [35]:
melted_sales_df = pd.melt(transposed_df, var_name="Kind of Business", value_name="Sales", ignore_index=False)
melted_sales_df.head(10)

                                Kind of Business     Sales
Month
1992-01-01  Retail_and_food_services_sales_total  146376.0
1992-02-01  Retail_and_food_services_sales_total  147079.0
1992-03-01  Retail_and_food_services_sales_total  159336.0
1992-04-01  Retail_and_food_services_sales_total  163669.0
1992-05-01  Retail_and_food_services_sales_total  170068.0
1992-06-01  Retail_and_food_services_sales_total  168663.0
1992-07-01  Retail_and_food_services_sales_total  169890.0
1992-08-01  Retail_and_food_services_sales_total  170364.0
1992-09-01  Retail_and_food_services_sales_total  164617.0
1992-10-01  Retail_and_food_services_sales_total  173655.0

In [36]:
melted_sales_df.reset_index(inplace=True)
melted_sales_df.head()

       Month                      Kind of Business     Sales
0 1992-01-01  Retail_and_food_services_sales_total  146376.0
1 1992-02-01  Retail_and_food_services_sales_total  147079.0
2 1992-03-01  Retail_and_food_services_sales_total  159336.0
3 1992-04-01  Retail_and_food_services_sales_total  163669.0
4 1992-05-01  Retail_and_food_services_sales_total  170068.0

In [37]:
melted_sales_df['Month']=pd.to_datetime(melted_sales_df['Month'])
melted_sales_df.head()

       Month                      Kind of Business     Sales
0 1992-01-01  Retail_and_food_services_sales_total  146376.0
1 1992-02-01  Retail_and_food_services_sales_total  147079.0
2 1992-03-01  Retail_and_food_services_sales_total  159336.0
3 1992-04-01  Retail_and_food_services_sales_total  163669.0
4 1992-05-01  Retail_and_food_services_sales_total  170068.0

In [38]:
melted_sales_df.shape

(23920, 3)

### Exploring Percentage Change

In [41]:
# transposed_df = transposed_df.set_index('Month')

percent_changes = transposed_df.pct_change()

percent_changes.head()

# pd.options.display.float_format = '{:.1%}'.format

,Retail_and_food_services_sales_total,RSFS_excl_motor_vehicle_and_parts,RSFS_excl_gasoline_stations,RSFS_excl_motor_vehicle_and_parts_and_gasoline_stations,Retail_sales_total,Retail_sales_total_excl_motor_vehicle_and_parts_dealers,GAFO1,Motor_vehicle_and_parts_dealers,Automobile_and_other_motor_vehicle_dealers,Automobile_dealers,New_car_dealers,Used_car_dealers,Automotive_parts_acc_and_tire_stores,Furniture_home_furn_electronics_and_appliance_stores,Furniture_and_home_furnishings_stores,Furniture_stores,Home_furnishings_stores,Floor_covering_stores,All_other_home_furnishings_stores,Electronics_and_appliance_stores,Household_appliance_stores,Electronics_stores,Building_mat_and_garden_equip_and_supplies_dealers,Building_mat_and_supplies_dealers,Paint_and_wallpaper_stores,Hardware_stores,Food_and_beverage_stores,Grocery_stores,Supermarkets_and_other_grocery_except_convenience_stores,Beer_wine_and_liquor_stores,Health_and_personal_care_stores,Pharmacies_and_drug_stores,Gasoline_stations,Clothing_and_clothing_access_stores,Clothing_stores,Mens_clothing_stores,Womens_clothing_stores,Family_clothing_stores,Other_clothing_stores,Shoe_stores,Jewelry_stores,Sporting_goods_hobby_musical_instrument_and_book_stores,Sporting_goods_stores,Hobby_toy_and_game_stores,Book_stores,General_merchandise_stores,Department_stores,Department_storesexcl_discount_department_stores,Discount_dept_stores,Other_general_merchandise_stores,Warehouse_clubs_and_superstores,All_other_gen_merchandise_stores,Miscellaneous_store_retailers,Office_supplies_stationery_and_gift_stores,Office_supplies_and_stationery_stores,Gift_novelty_and_souvenir_stores,Used_merchandise_stores,Nonstore_retailers,Electronic_shopping_and_mail_order_houses,Fuel_dealers,Food_services_and_drinking_places,Drinking_places,Restaurants_and_other_eating_places,Full_service_restaurants,Limited_service_eating_places
Month,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1992-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992-02-01,0.004803,-0.006031,0.009101,-0.001761,0.004293,-0.008377,0.038754,0.047164,0.052822,0.047713,0.040946,0.141055,-0.002977,-0.013994,0.016121,0.028428,-0.004127,0.004121,NaN,-0.045666,-0.041597,NaN,0.006582,-0.009166,NaN,-0.028504,-0.034438,-0.039662,NaN,0.021206,-0.014880,-0.011639,-0.042896,0.084462,0.063273,-0.061341,0.063001,0.130382,NaN,0.048922,0.282663,-0.071783,0.131687,-0.056452,-0.317722,0.067951,0.091694,0.109797,0.075802,0.015778,0.013959,0.018001,0.071389,0.021438,-0.138325,0.212766,0.083558,-0.116764,-0.151189,-0.150835,0.009049,-0.021926,0.011182,0.007260,0.015377
1992-03-01,0.083336,0.071965,0.085351,0.073320,0.085672,0.073230,0.099688,0.125541,0.123427,0.117051,0.118885,0.093970,0.145322,0.057853,0.063715,0.059756,0.070442,0.164159,NaN,0.051289,0.095486,NaN,0.175662,0.152108,NaN,0.171149,0.038922,0.038592,NaN,0.036340,0.036783,0.021642,0.059758,0.126396,0.167668,0.110942,0.206931,0.154506,NaN,0.156522,-0.106758,0.083393,0.103636,0.099145,-0.007421,0.122947,0.148076,0.171124,0.127202,0.063602,0.085277,0.037227,-0.037673,-0.048070,0.019146,-0.105263,0.042289,0.039280,0.087090,-0.055317,0.063972,0.046784,0.064717,0.044400,0.086278
1992-04-01,0.027194,0.027271,0.028301,0.028733,0.032894,0.034848,0.046913,0.026924,0.027238,0.012850,-0.001285,0.194763,0.024044,-0.020189,-0.003849,-0.031454,0.042581,0.056404,NaN,-0.038703,0.019017,NaN,0.096342,0.070200,NaN,0.120042,0.018395,0.012961,NaN,0.048842,0.015918,0.023832,0.013934,0.109263,0.109230,0.116279,0.109030,0.132900,NaN,0.144908,0.062500,0.036184,0.043657,0.097978,-0.022430,0.049377,0.042115,0.024752,0.058452,0.067890,0.051445,0.088829,0.104660,0.036273,-0.052023,0.121849,-0.062053,-0.043672,0.008857,-0.127521,-0.021011,-0.040037,-0.019587,-0.033816,-0.005070
1992-05-01,0.039097,0.047191,0.035662,0.043554,0.035638,0.043810,0.041062,0.010476,0.010324,0.016741,0.033664,-0.165321,0.011881,0.023213,0.032359,0.031683,0.033416,-0.047831,NaN,0.012475,0.029549,NaN,0.059931,0.042980,NaN,0.148183,0.047936,0.046941,NaN,0.087761,-0.005710,-0.012475,0.080849,0.016700,0.012870,0.049020,0.032645,-0.010664,NaN,-0.068657,0.208462,0.007937,0.020521,-0.065156,0.055449,0.061732,0.061288,0.034128,0.086031,0.062835,0.091488,0.027606,0.108968,0.096088,0.062500,0.123596,0.106870,-0.036367,-0.009178,-0.132737,0.069965,0.015519,0.071952,0.076000,0.067941

In [42]:
melted_pc_df = pd.melt(percent_changes, var_name="Kind of Business", value_name="Percent Change", ignore_index=False)
melted_pc_df.head(10)

                                Kind of Business  Percent Change
Month
1992-01-01  Retail_and_food_services_sales_total             NaN
1992-02-01  Retail_and_food_services_sales_total        0.004803
1992-03-01  Retail_and_food_services_sales_total        0.083336
1992-04-01  Retail_and_food_services_sales_total        0.027194
1992-05-01  Retail_and_food_services_sales_total        0.039097
1992-06-01  Retail_and_food_services_sales_total       -0.008261
1992-07-01  Retail_and_food_services_sales_total        0.007275
1992-08-01  Retail_and_food_services_sales_total        0.002790
1992-09-01  Retail_and_food_services_sales_total       -0.033734
1992-10-01  Retail_and_food_services_sales_total        0.054903

In [43]:
melted_pc_df.reset_index(inplace=True)
melted_pc_df.head()

       Month                      Kind of Business  Percent Change
0 1992-01-01  Retail_and_food_services_sales_total             NaN
1 1992-02-01  Retail_and_food_services_sales_total        0.004803
2 1992-03-01  Retail_and_food_services_sales_total        0.083336
3 1992-04-01  Retail_and_food_services_sales_total        0.027194
4 1992-05-01  Retail_and_food_services_sales_total        0.039097

In [44]:
melted_pc_df['Month']=pd.to_datetime(melted_pc_df['Month'])
melted_pc_df.head()

       Month                      Kind of Business  Percent Change
0 1992-01-01  Retail_and_food_services_sales_total             NaN
1 1992-02-01  Retail_and_food_services_sales_total        0.004803
2 1992-03-01  Retail_and_food_services_sales_total        0.083336
3 1992-04-01  Retail_and_food_services_sales_total        0.027194
4 1992-05-01  Retail_and_food_services_sales_total        0.039097

In [45]:
melted_pc_df.shape

(23920, 3)

## Reference

US Census Bureau: Monthly Retail Trade. https://www.census.gov/retail/index.html.